#first {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: center;
}

#first div {
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
}

#first div button {
    border-radius: 25px;
    font-size: 20px;
    margin-right: 10px;
}

#first p {
    position: relative;
    right: 80px;
    font-size: xx-large;
    font-weight: bold;
}

#first input {
    position: relative;
    right: 60px;
    height: 30px;
    width: 600px;
    border-radius: 25px;
    font-size: 20px;
}

#second {
    background-image: linear-gradient(to right, red, blue);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 5px;

}

#second p {
    color: white;
    margin-left: 20px;
    position: relative;
    right: 350px;
}

#p7 {
    position: relative;
    left: 330px;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    font-size: 20px;
    width: 150px;
    border-style: solid;
    border-top: none;
}

ul li {
    margin: 15px;
}

#third {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#fourth {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    background-color: lightgray;
    width: 1197px;
    height: 45px;
    position: relative;
    left: 354px;
}

#fourth p {
    font-size: 25px;
    margin-right: 14%;
}

fieldset {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border-style: none;
    width: 1170px;
    height: 290px;
    position: relative;
    left: 352px;
}

fieldset legend {
    font-size: 25px;
    font-weight: bold;
}

fieldset div {
    width: 16%;
    border-style: groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}